<h1>LOG IN</h1>

<%= form_tag sessions_path do %>

  <div class="login_email">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
<br>
  <div class="login_password">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
<br>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>

<% end %>
