<h1>Sign Up!</h1>

<%= form_tag new_users_path do %>

  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
<br>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
<br>
<div>
  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %>
</div>
<br>
  <div>
    <%= submit_tag "Log in" %>
  </div>

<% end %>
