<h1>Courses Page</h1>

<h4> List Course Codes </h4>


<h2> Search bar </h2>

<%= form_tag courses_path, method: :get do %>
  <%= text_field_tag :course %>
<% end %>

<% @courses.each do |course| %>
<h3><%= course.name %></h3>
<p><%= course.code %></p>
<p><%= course.description %></p>
<% end %>
